{% extends "health/layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
    <script>
        var action = document.getElementById("about");
        action.classList.add("active");
    </script>
    <div class="div2" style="color: white; padding: 20px;">
        <div class="div4" style="width: 100%;">
            <div class="input1" style="margin-top: 20px; color: black; width: 60%;">
                <h1>About us</h1>
                <h3>Health Magic is a web site which designed and programmed by the Ghanadi Of brothers. We are two brothers who are currently students and the interesting thing is that neither of us studied computer science.</h3>
            </div>
        </div>

        <div class="div4" style="width: 100%;">
            <div class="input1" style="margin-top: 20px; color: black; width: 60%; display: block;">
                <h1>About this web site</h1>
                <h3>This program was created to help promote the health of the majority of the community. It gives you an overview of the amount of calories you eat by calculating the calories of different foods and foods based on their weight. Also, by registering in it and entering your body details, you can be aware of the amount of calories allowed for your daily consumption. Furthermore, you can reduce your calories consumption and you will lose weight and reach fitness.</h3>
                <a href="https://youtu.be/HGaBPleP57Y">Site Tutorial Video</a>
            </div>
        </div>
    </div>
{% endblock %}