{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'health/style.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'Health/favicon.png' %}" type="image/png">
        <title>Health Magic: New Password</title>
    </head>
    <body>
        <script>
            function type_changer() {
                if (document.getElementById("check").checked == true)
                {
                    document.getElementById("current_password").type = "text";
                    document.getElementById("new_password").type = "text";
                    document.getElementById("confirm_new_password").type = "text";
                }
                else {
                    document.getElementById("current_password").type = "password";
                    document.getElementById("new_password").type = "password";
                    document.getElementById("confirm_new_password").type = "password";
                }
            }
        </script>
        <div class="overlay"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
        <form class="div1" style="padding-top: 40px; padding-bottom: 20px;" id="change_form">
            <p><b id="error" style="color: red; display: none; margin-bottom: 40px;"></b></p>

            <div class="group">
                <input autocomplete="off" class="input1" id="current_password" name="current_password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">Current password</label>
            </div>

            <div class="group">
                <input class="input1" id="new_password" name="new_password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">New password</label>
            </div>

            <div class="group">
                <input class="input1" id="confirm_new_password" name="confirm_new_password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">Confirm new password</label>
            </div>

            <h3>
                <input type="checkbox" id="check" onclick="type_changer()">
                <label for="check"> Show Password</label><br><br>
            </h3>

            <button style="margin: 8px;" class="button1" type="submit">Change</button>
            <a href="{% url 'profile' %}"><button style="margin: 8px;" class="button1" type="button">Cancel</button></a>
        </form>
        <script src="{% static 'health/change_password.js' %}"></script>
    </body>
</html>